<?xml version="1.0" encoding="utf-8"?>
<settings>
  <detectopt AVRDet="1" MCUDet="0" KB90Det="0" MWActiveDet="0" I2CActiveDet="0" MWPassiveDet="1" I2CPassiveDet="1" EEPromActiveDet="0" EEPromPassiveDet="1"/>
  <locale lang="cn"/>
  <options hw="ch341_black" clear="1" skipff="1" unprot="0" verify="1" chipname="GD25Q127C" SPIExpert="0" ShowLinks="1" spi_speed="1_5Mhz" InitialDir="C:\Users\doinb\Documents\" blankcheck="0" LoadLastDev="1" SaveFhistory="1"/>
  <Windows DPI="144" Top="500" Left="4020" LogH="107" Width="1327" Height="731"/>
  <ChipHistory list="GD25Q127C [3.3V],W25Q80BV [3.3V]"/>
  <FileHistory file0="C:\Users\dell\Desktop\XIAOMI AIR 13_3.bin"/>
</settings>
